<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <input class="form__pseudo" type="text" placeholder="Pseudo" formControlName="pseudo">
  <input class="form__text" type="text" placeholder="Message" formControlName="text">
  <input type="submit" class="form__submit" value="envoyer">
</form>