.form {
    background: #999;
    padding: 10px;
    display: flex;
}
.form__pseudo {
    height: 40px;
    line-height: 40px;
    flex-basis: 25%;
    padding: 0 10px;
}
.form__text {
    height: 40px;
    line-height: 40px;
    flex-grow: 1;
    padding: 0 10px;
}
.form__submit {
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
}