:host {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

app-chat-view {
    flex-grow: 1;
    max-height: 100vh;
    overflow: scroll;
}

app-chat-form {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    

}