<div class="message" *ngFor="let m of messages">
  <div class="message__pseudo">{{ m.pseudo }}</div>
  <div class="message__text">{{ m.text }}</div>
  <input class="message__delete" type="button" value="Supprimer" (click)="onDelete(m.id)">
</div>