:host {
    display: block;
    background: #f1f1f1;
    padding-bottom: 70px;
}

.message {
    display: flex;
    padding: 10px;
    align-items: center;
}

.message__pseudo {
    font-weight: bold;
    color: rgb(0, 142, 207);
}

.message__text {
    margin-left: 10px;
}

.message__delete {
    margin-left: auto;
}