/* You can add global styles to this file, and also import other style files */

/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

* {
    font-family: Ubuntu, sans-serif;
    font-size: 18px;
}